.addstudentwrapper{
    padding-left: 43%;
}
.addteacherwrapper{
    padding-left:43%;
}
.homewrapper{
    padding-left: 23%;
    font-size: 250%;
    margin-top: 5%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: blue;
}